.home {
    margin: 0;
    padding: 0;
    height: 100vh;
    text-align: center;
    background-color: rgb(53, 54, 54);
    color: white;
}

#headline {
    margin-bottom: 20px;
    font-size: 40px;
}

.article {
    background-color: rgba(243, 254, 230, 0.5);
    height: 90%;
    display: flex;
    margin-bottom: 0;
}

.header {
    margin-top: 20vh;
    margin-bottom: 40vh;
}

#catch1 {
    margin: 10vh 0vw;
}

#catch2 {
    margin-bottom: 10vh;
}

.pictures {
    position: relative;
    margin-top: 15vh;
    width: 45vw;
    float: right;
    height: 400px;
    margin-right: 20px;
}

.pictures2 {
    margin-top: 5vh;
    margin-left: 20px;
}

.pics {
    border: solid rgb(44, 44, 44) 1px;
    border-radius: 10px;
    object-fit: cover;
}

#ropes {
    position: absolute;
    width: 350px;
    margin-left: -100px;
    height: 350px;
}

#boulder {
    position: absolute;
    margin-left: -250px;
    margin-top: 140px;
    width: 250px;
    height: 250px;
}

#lift {
    position: absolute;
    margin-top: 140px;
    margin-left: 25px;
    width: 250px;
    height: 250px;
}

#cycle {
    position: absolute;
    margin-left: -250px;
    width: 350px;
    height: 350px;
}

.article-info {
    width: 45vw;
    margin-left: 40px;
    margin-right: 40px;
}

.article-info2 {
    width: 45vw;
    margin-left: 40px;
    margin-right: 40px;
}

.hidden {
    opacity: 0;
    transition: all 1.5s;
}

.show {
    opacity: 1;
}

.startbtn {
    background-color: rgba(228, 255, 195, 0.8);
    padding: 5px;
    margin-top: 80px;
    border-radius: 5px;
}
.startbtn:hover {
    transform: scale(1.1);
    transition: .1s;
}
#add{
    color: black;
    text-decoration: none;
}