.navbar {
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.nav-item {
    list-style-type: none;
    margin: 0px 10px 0px 0px;
    padding: 0 20px 0 0;
    font-weight: normal;
    font-size: 18px;
    float: right;
    display: inline-flex;
}
#navigation{
    text-decoration: none; 
}